<html>
<body>
<h1>Need A Break Vacation App</h1>
<h5>Registration</h5>
<br>
<form method="POST" action="/users/addUser">

<input type = "text" placeholder = "Name" name="name">
<input type = "text" placeholder = "Password" name="password">
<button type="submit">Sign Up</button>

</form>

</body>
</html>