<html>
<head></head>
<body>

<h1> Add Trip </h1>
<br>
<a href="/trips">View all trips</a>
<br>
<br>
<form method="POST" action="/trips/add-trip">

<input type = "text" placeholder = "City" name="city">
<input type = "text" placeholder = "Enter image URL" name="imageURL">
<button type="submit">Take Me Away!</button>

</form>

{{#city}}
    Your trip to {{city}} has been added. Bon voyage!
{{/city}}

</body>
</html>